[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = mischmaesch
	email = michael.schmaeschke@d-velop.de
	signingkey = 6E407DCE

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
    excludesfile = /opt/boxen/config/git/gitignore
	autocrlf = input
	safecrlf = true

[alias]
    news = log -p HEAD@{1}..HEAD@{0}
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD
    st = status -sb
	co = checkout
	cmm = commit -m
	rh = reset HEAD
	rhh = reset HEAD --hard
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
