[user]
    name = mischmaesch
[core]
    autocrlf = input
    safecrlf = true
    ignorecase = false
[alias]
    news = log -p HEAD@{1}..HEAD@{0}
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    st = status -sb
    co = checkout
    c = commit
    cmm = commit -m
    amend = commit --amend
    rh = reset HEAD
    rhh = reset HEAD --hard
    f = fetch -p
    p = push
    precommit = diff --cached --diff-algorithm=minimal -w
    root = !pwd
[push]
    default = simple
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
